<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="stylesheets/normalize.css">
        <link rel="stylesheet" href="stylesheets/skeleton.css">
        <link rel="stylesheet" href="stylesheets/style.css">
        <title>Youtube to MP3</title>
    </head>

    <body>
        <div class="container section">
            <h1>Youtube to mp3</h1>
            <form action="/" method="POST">

                <div class="row">
                    <div class="columns">
                        <input class="url-input" name="url" type="url" required />
                    </div>
                </div>
                <input type="submit" value="submit" />
            </form>
            <% if (done==true) { %>
            <a href="/download/<%= id %>"><button class="button-primary">Download</button></a>
            <% } %>
        </div>
    </body>

</html>