<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" href="images/favicon.svg" sizes="any" type="image/svg+xml">
        <link rel="stylesheet" href="stylesheets/normalize.css">
        <link rel="stylesheet" href="stylesheets/skeleton.css">
        <link rel="stylesheet" href="stylesheets/style.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <title>Youtube to MP3</title>
    </head>

    <body>
        <div id="load-container" class="load-container center"><img id="loader-img" class="center"
                src="images/loading.gif"></img>
        </div>

        <!-- <div class="lds-ring">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div> -->
        <div class="container section">
            <h1><i class="fa fa-youtube-play" aria-hidden="true"></i>Youtube to mp3<i class="fa fa-music"
                    aria-hidden="true"></i></h1>
            <form action="/" method="POST" id="form">
                <div class="row">
                    <div class="columns">
                        <input class="url-input" name="url" type="url" placeholder="Youtube URL" required
                            autocomplete="off" />
                    </div>
                </div>
                <div class="row">
                    <div class="columns">
                        <input class="name-input" name="fileName" type="text" placeholder="Enter a File Name" required
                            autocomplete="off" />
                    </div>
                </div>
                <input id="submit-button" type="submit">
            </form>
        </div>
        <script src="js/main.js"></script>
    </body>

</html>