.section {
  text-align: center;
  padding: 8rem 0 7rem;
}

.url-input {
  width: 80%;
}

.name-input {
  width: 33%;
}

#loader-img{
  width: 70px;
  height: 70px;
  size: cover;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

.center {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.load-container {
  z-index: 1;
  height: 30%;
  width: 30%;
  background: rgba(255, 255, 255, 0.3);
}